.idea
.vscode

.repositories

devdisp
main

data/pgdata
data/website
data/reposiotries
data/nginx/logs
data/nginx/ssl
data/keydb
data/services/*
data/logs/*.log

src/router/router
src/conf/**/update
src/vendor

.DS_Store
